*.pdf
.DS_Store
Bootstrap/.DS_Store
_bootstrap-3.3.7-dist/
_bootstrap-4.1.3-dist/
05_Bootstrap\ 4
10_Todo_Project/assets/js/lib/jquery-3.3.1.min.js
11_Patatap_Clone/paper-full.js
11_Patatap_Clone/sounds/
