<% include partials/header.ejs %>



<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" alt="">

<p><%= campground.description %></p>



<% console.log(campground.description); %>

<% include partials/footer.ejs%>